﻿@using UniUserProject.Controllers
@{
    ViewData["Title"] = "Register Page";
}
@model UniUserProject.Models.RegisterUserViewModel

<div class="text-center">
    <h1 class="display-4">Register</h1>
    @using (@Html.BeginForm(nameof(HomeController.Register), "Home"))
    {
        @Html.AntiForgeryToken()
        @Html.DisplayNameFor(model => model.Username)
        <br/>
        @Html.TextBoxFor(model => model.Username)
        <br/>
        <span style="color:red">@Html.ValidationMessageFor(model => model.Username)</span>
        <p></p>
        @Html.DisplayNameFor(model => model.Password)
        <br/>
        @Html.PasswordFor(model => model.Password)
        <br/>
        <span style="color:red">@Html.ValidationMessageFor(model => model.Password)</span>
        <p></p>
        @Html.DisplayNameFor(model => model.ConfirmPassword)
        <br/>
        @Html.PasswordFor(model => model.ConfirmPassword)
        <br/>
        <span style="color:red">@Html.ValidationMessageFor(model => model.ConfirmPassword)</span>
        <p></p>
        <input type="submit" value="Submit" />
    }
</div>
